<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consert.css') }}">
    <style>
        iframe{
            width: calc(500*1.85px);
            height: 500px;
        }
    </style>

    <title>KUO</title>
</head>
<body>
    {% from 'menu.html' import menubar, endbar %}
    <div id="wrapper">
        {{ menubar() }}
        <div id="content">
            <div class="item">
                제39회 신춘음악회
            </div>
            <div class="item">
                <img id="poster" src="{{ url_for('static', filename='pictures/Annual_52.jpg') }}" alt="이미지 로드에 실패하였습니다.">
            </div>
            <div class="item">
                test
            </div>
            <div class="item">
                test
            </div>
            <div class="item">
                test
            </div>
            <div class="item">
                test
            </div>
        </div>
        {{ endbar() }}
    </div>

</body>
</html>