
/*전체 영역*/
* {
    margin:0px;
    padding:0px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

#menu > ul > li{
    font: bold 20px "malgun gothic";
    text-align: center;

    float:left;
    padding:20px;
    width:100px;
    position: relative;
}
#menu > ul > li > ul{
    font-size: 14px;
    display: none;
    padding-top: 30px;
    position: absolute;
}
#menu > ul > li:hover{
    border-bottom: 3px solid;
}
#menu > ul > li:hover > ul{
    display: block;
}
#menu > ul > li > ul > li{
    width:100px;
    margin-top:10px;
}


