<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>KUO</title>
</head>
<body>
    <div id="menu">
        <ul>
            <li>
                <a href="#">About us</a>
                <ul>
                    <li>연혁</li>
                    <li>단장 인사말</li>
                    <li>회장단</li>
                </ul>
            </li>
            <li>
                연주회
                <ul>
                    <li>24신춘</li>
                    <li>정기</li>
                    <li>신춘</li>
                </ul>
            </li>
            <li>
                단원 모집
            </li>
        </ul>
    </div>
    
</body>
</html>